<div class="colours">
    <a class="red-bg colours__swatch js_colour_switch" title="red-color"></a>
    <a class="orange-bg colours__swatch js_colour_switch" title="orange-color"></a>
    <a class="green-bg colours__swatch js_colour_switch" title="green-color"></a>
    <a class="blue-bg colours__swatch js_colour_switch" title="blue-color"></a>
    <a class="purple-bg colours__swatch js_colour_switch" title="purple-color"></a>
    <a class="pink-bg colours__swatch js_colour_switch" title="pink-color"></a>
</div>
