<div class="colours colours--hidden">
    <a class="red-bg colours__swatch js_colour_switch" title="red-colour"></a>
    <a class="orange-bg colours__swatch js_colour_switch" title="orange-colour"></a>
    <a class="green-bg colours__swatch js_colour_switch" title="green-colour"></a>
    <a class="blue-bg colours__swatch js_colour_switch" title="blue-colour"></a>
    <a class="purple-bg colours__swatch js_colour_switch" title="purple-colour"></a>
    <a class="pink-bg colours__swatch js_colour_switch" title="pink-colour"></a>
</div>
