<script type="text/javascript">
    $(document).ready(function(){
        $(".colours").css('display', 'block')   ;
        $(".js_colour_switch").switchstylesheet( { seperator:"color"} );
        $('.slideshow ul').innerfade({
                animationtype: 'fade',
                speed: 2000,
                timeout: 6000,
                type: 'sequence',
                containerwidth: '620px',
                //containerheight: 'auto',
                runningclass: 'innerfade'
            });
        $('.slideshow').css("height", $('.slideshow ul li:first img').css('height'));
    });
</script>
<script src="{{site.baseurl}}/js/main.js" type="text/javascript"></script>