<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="{{site.baseurl}}/css/main.css" />
<link rel="stylesheet" href="{{site.baseurl}}/css/purple.css" title="purple-colour" />
<!-- Alternate Style Sheets - Colour changing -->
<link rel="alternate stylesheet" href="{{site.baseurl}}/css/red.css" title="red-colour" />
<link rel="alternate stylesheet" href="{{site.baseurl}}/css/orange.css" title="orange-colour" />
<link rel="alternate stylesheet" href="{{site.baseurl}}/css/green.css" title="green-colour" />
<link rel="alternate stylesheet" href="{{site.baseurl}}/css/blue.css" title="blue-colour" />
<link rel="alternate stylesheet" href="{{site.baseurl}}/css/pink.css" title="pink-colour" />

