<ul class="menu">
    <li><a class="colourchange-hover" href="{{site.baseurl}}/">home</a></li>
    <li><a class="colourchange-hover" href="{{site.baseurl}}/electric-december">electric december</a></li>
    <li><a class="colourchange-hover" href="{{site.baseurl}}/deliciously-dirty">deliciously dirty</a></li>
    <li><a class="colourchange-hover" href="{{site.baseurl}}/mpad">mpad website</a></li>
    <li><a class="colourchange-hover" href="{{site.baseurl}}/nokia-spin">nokia spin</a></li>
    <li><a class="colourchange-hover" href="{{site.baseurl}}/sas-obc">operation beach clean</a></li>
    <li><a class="colourchange-hover" href="{{site.baseurl}}/nikon-instruments">nikon portal</a></li>
    <li><a class="colourchange-hover" href="{{site.baseurl}}/dijitl-invaders">dijitl invaders</a></li>
    <li><a class="colourchange-hover" href="{{site.baseurl}}/fiskens-ferrari">fiskens ferrari</a></li>
    <li><a class="colourchange-hover" href="{{site.baseurl}}/hamilton-porsche">hamilton porsche</a></li>
    <li><a class="colourchange-hover" href="{{site.baseurl}}/sas-sos">save our seas</a></li>
    <li><a class="colourchange-hover" href="{{site.baseurl}}/motorsport">motorsport archive</a></li>
    <li><a class="colourchange-hover" href="{{site.baseurl}}/robothespian">robothespian</a></li>
    <li><a class="colourchange-hover" href="{{site.baseurl}}/blog">blog</a></li>
    <li><a class="colourchange-hover" href="{{site.baseurl}}/images/CV_Web.pdf" title="curriculum vitae opens as a PDF document">curriculum vitae</a></li>
</ul>
