<ul class="menu">
    <li><a class="colourchange-hover" href="{{site.baseurl}}/" title="home">home</a></li>
    <li><a class="colourchange-hover" href="{{site.baseurl}}/electric-december" title="electric december">electric december</a></li>
    <li><a class="colourchange-hover" href="{{site.baseurl}}/deliciously-dirty" title="deliciously dirty">deliciously dirty</a></li>
    <li><a class="colourchange-hover" href="{{site.baseurl}}/mpad" title="mpad website">mpad website</a></li>
    <li><a class="colourchange-hover" href="{{site.baseurl}}/nokia-spin" title="nokia spin">nokia spin</a></li>
    <li><a class="colourchange-hover" href="{{site.baseurl}}/sas-obc" title="operation beach clean">operation beach clean</a></li>
    <li><a class="colourchange-hover" href="{{site.baseurl}}/nikon-instruments" title="nikon portal">nikon portal</a></li>
    <li><a class="colourchange-hover" href="{{site.baseurl}}/dijitl-invaders" title="dijitl invaders">dijitl invaders</a></li>
    <li><a class="colourchange-hover" href="{{site.baseurl}}/fiskens-ferrari" title="fiskens ferrari">fiskens ferrari</a></li>
    <li><a class="colourchange-hover" href="{{site.baseurl}}/hamilton-porsche" title="hamilton porsche">hamilton porsche</a></li>
    <li><a class="colourchange-hover" href="{{site.baseurl}}/sas-sos" title="save our seas">save our seas</a></li>
    <li><a class="colourchange-hover" href="{{site.baseurl}}/motorsport" title="motorsport archive">motorsport archive</a></li>
    <li><a class="colourchange-hover" href="{{site.baseurl}}/robothespian" title="robothespian">robothespian</a></li>
    <li><a class="colourchange-hover" href="{{site.baseurl}}/blog" title="blog">blog</a></li>
    <li><a class="colourchange-hover" href="{{site.baseurl}}/images/CV_Web.pdf" title="curriculum vitae">curriculum vitae</a></li>
</ul>
