<header class="page-head">
    <div class="wrapper">

        {% include colour_links.html %}

        <div class="container_12">
            <a title="dijitl" href="{{site.baseurl}}/index" >
                <img class="logo grid_3" src="{{site.baseurl}}/images/layout/logo.png" alt="dijitl" />
            </a>
            <!-- Make this a h1?? -->
            <h1 class="page-head__title decoration-font grid_9">
                <a class="colourchange" href="/">dijitl&nbsp;:&nbsp;creative code</a>
            </h1>
        </div>
    </div>
</header>
