$red:                   #e5315d;
$orange:                #f27f1a;
$green:                 #00af41;
$blue:                  #00b5eb;
$purple:                #8d218d;
$pink:                  #e7068f;
$white:                 #fff;
$black:                 #000;

$color-link:            $purple;
$color-link-hover:      $white;
$color-link-hover-bg:   $purple;