@mixin background-opacity($color:#000000, $opacity: 0.7) {
    /* Fallback for web browsers that doesn't support RGBa */
    background: $color;
    /* RGBa with 0.8 opacity */
    background-color: rgba($color, 0.7);

    /* IE 5-7 */
    //filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC8D218D, endColorstr=#CC8D218D)";
    /* For IE 8*/
    //-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC8D218D, endColorstr=#CC8D218D)";
}

// https://snook.ca/archives/html_and_css/simplest-css-slideshow
@mixin fade($num:1, $fade:1, $visible:2) {
    $a: 100 / (($fade + $visible) * $num);

    @keyframes fade_#{$num} {
     0%   { opacity: 0; }
     #{$a * $fade}%   { opacity: 1; }
     #{$a * ($fade + $visible)}%  { opacity: 1; }
     #{$a * ($fade + $visible + $fade)}%  { opacity: 0; }
     100% { opacity: 0; }
   }

   animation-name: fade_#{$num};
   animation-duration: (($fade + $visible) * $num) + s;
   animation-iteration-count: infinite;

   @for $i from 1 through $num {
     &:nth-child(#{$i}) {
       animation-delay: (#{($fade + $visible) * ($i - 1)}) + s;
     }
   }
 }