---
layout: default
---

<div class="grid_8 thumbnail-box">
    <ul class="thumbnails">
        <li>
            <a class="link-pic thumbnail-link" href="electric-december" title="electric december">
                <img class="link-pic__img" src="images/small/electricdecember.jpg" alt="electric december"/>
                <span class="link-pic__text thumbnail-link__text colourchange">electric december </span>
            </a>
        </li>
        <li>
            <a class="link-pic thumbnail-link" href="deliciously-dirty" title="deliciously dirty">
                <img class="link-pic__img" src="images/small/delicious.jpg" alt="deliciously dirty"/>
                <span class="link-pic__text thumbnail-link__text colourchange">deliciously dirty </span>
                </a>
        </li>
        <li>
            <a class="link-pic thumbnail-link" href="mpad" title="mpad flash website">
                <img class="link-pic__img" src="images/small/mpad-chops.jpg" alt="mpad flash website"/>
                <span class="link-pic__text thumbnail-link__text colourchange">mpad</span>
            </a>
        </li>
        <li>
            <a class="link-pic thumbnail-link" href="nokia-spin" title="nokia spin ad campaign">
                <img class="link-pic__img" src="images/small/nokia-spin.jpg" alt="nokia spin ad campaign"/>
                <span class="link-pic__text thumbnail-link__text colourchange">nokia spin</span>
            </a>
        </li>
        <li>
            <a class="link-pic thumbnail-link" href="sas-obc" title="sas operation beach clean">
                <img class="link-pic__img" src="images/small/sas-obc.jpg" alt="sas operation beach clean"/>
                <span class="link-pic__text thumbnail-link__text colourchange">sas obc</span>
            </a>
        </li>
        <li>
            <a class="link-pic thumbnail-link" href="nikon-instruments" title="nikon portal">
                <img class="link-pic__img" src="images/small/nikon-globe.jpg" alt="nikon portal"/>
                <span class="link-pic__text thumbnail-link__text colourchange">nikon portal</span>
            </a>
        </li>
        <li>
            <a class="link-pic thumbnail-link" href="dijitl-invaders" title="dijitl invaders game">
                <img class="link-pic__img" src="images/small/invaders-game.jpg" alt="dijitl invaders game"/>
                <span class="link-pic__text thumbnail-link__text colourchange">dijitl invaders</span>
            </a>
        </li>
        <li>
            <a class="link-pic thumbnail-link" href="fiskens-ferrari" title="fiskens ferrari 250 swb">
                <img class="link-pic__img" src="images/small/fiskens.jpg" alt="fiskens ferrari 250 swb"/>
                <span class="link-pic__text thumbnail-link__text colourchange">fiskens ferrari </span>
            </a>
        </li>
        <li>
            <a class="link-pic thumbnail-link" href="hamilton-porsche" title="hamilton porsche 936 spyder">
                <img class="link-pic__img" src="images/small/hamilton-porsche.jpg" alt="hamilton porsche 936 spyder"/>
                <span class="link-pic__text thumbnail-link__text colourchange">hamilton porsche </span>
            </a>
        </li>
        <li>
            <a class="link-pic thumbnail-link" href="sas-sos" title="sas save our seas">
                <img class="link-pic__img" src="images/small/sas-sos.jpg" alt="sas save our seas"/>
                <span class="link-pic__text thumbnail-link__text colourchange">save our seas </span>
            </a>
        </li>
        <li>
            <a class="link-pic thumbnail-link" href="motorsport" title="motorsport digital archives">
                <img class="link-pic__img" src="images/small/motorsport.jpg" alt="motorsport digital archives"/>
                <span class="link-pic__text thumbnail-link__text colourchange">motorsport</span>
            </a>
        </li>
        <li>
            <a class="link-pic thumbnail-link" href="robothespian" title="engineered arts robothespian">
                <img class="link-pic__img" src="images/small/robothespian-live.jpg" alt="engineered arts robothespian"/>
                <span class="link-pic__text thumbnail-link__text colourchange">robothespian</span>
            </a>
        </li>
    </ul>
</div>
<div class="grid_4 menu_box">
    {% include colour_links.html %}

    {% include menu.html %}
</div>
<article class="grid_12">
    <h1 class="article__header colourchange clearfix text-left">{{ page.title }}</h1>
    {{ content }}
</article>
