---
layout: default
---

<div class="grid_8 thumbnail-box">
    <ul class="thumbnails">
        <li>
            <a class="link-pic thumbnail-link" href="electric-december">
                <img class="link-pic__img" src="images/small/electricdecember.jpg" alt="electric december - picture of a flash website created showcasing renewable energy inventions by schoolkids"/>
                <span class="link-pic__text thumbnail-link__text colourchange">electric december </span>
            </a>
        </li>
        <li>
            <a class="link-pic thumbnail-link" href="deliciously-dirty">
                <img class="link-pic__img" src="images/small/delicious.jpg" alt="deliciously dirty - picture of a flash website used to market Cornish Early New Potatoes"/>
                <span class="link-pic__text thumbnail-link__text colourchange">deliciously dirty </span>
                </a>
        </li>
        <li>
            <a class="link-pic thumbnail-link" href="mpad">
                <img class="link-pic__img" src="images/small/mpad-chops.jpg" alt="mpad flash website - picture of a website built for a marketing and design agency"/>
                <span class="link-pic__text thumbnail-link__text colourchange">mpad</span>
            </a>
        </li>
        <li>
            <a class="link-pic thumbnail-link" href="nokia-spin">
                <img class="link-pic__img" src="images/small/nokia-spin.jpg" alt="nokia spin ad campaign - picture of a flash website used to market phone 'spinning'"/>
                <span class="link-pic__text thumbnail-link__text colourchange">nokia spin</span>
            </a>
        </li>
        <li>
            <a class="link-pic thumbnail-link" href="sas-obc">
                <img class="link-pic__img" src="images/small/sas-obc.jpg" alt="sas operation beach clean - picture of a flash website used as an educational resource to teach about pollution"/>
                <span class="link-pic__text thumbnail-link__text colourchange">sas obc</span>
            </a>
        </li>
        <li>
            <a class="link-pic thumbnail-link" href="nikon-instruments">
                <img class="link-pic__img" src="images/small/nikon-globe.jpg" alt="nikon portal - picture of the entry page to a web portal with terrible UX that required people to wait for a globe animation before being required to navigate to their local region"/>
                <span class="link-pic__text thumbnail-link__text colourchange">nikon portal</span>
            </a>
        </li>
        <li>
            <a class="link-pic thumbnail-link" href="dijitl-invaders">
                <img class="link-pic__img" src="images/small/invaders-game.jpg" alt="dijitl invaders game - picture of a flash space invaders game made out of typography"/>
                <span class="link-pic__text thumbnail-link__text colourchange">dijitl invaders</span>
            </a>
        </li>
        <li>
            <a class="link-pic thumbnail-link" href="fiskens-ferrari">
                <img class="link-pic__img" src="images/small/fiskens.jpg" alt="fiskens ferrari - picture of a flash website which was used to advertise a ferrari 250 swb for sale"/>
                <span class="link-pic__text thumbnail-link__text colourchange">fiskens ferrari </span>
            </a>
        </li>
        <li>
            <a class="link-pic thumbnail-link" href="hamilton-porsche">
                <img class="link-pic__img" src="images/small/hamilton-porsche.jpg" alt="hamilton porsche - picture of a flash website which was used to advertise a porsche 936 spyder for sale"/>
                <span class="link-pic__text thumbnail-link__text colourchange">hamilton porsche </span>
            </a>
        </li>
        <li>
            <a class="link-pic thumbnail-link" href="sas-sos">
                <img class="link-pic__img" src="images/small/sas-sos.jpg" alt="sas save our seas - picture of another flash website used as an educational resource to teach about pollution"/>
                <span class="link-pic__text thumbnail-link__text colourchange">save our seas </span>
            </a>
        </li>
        <li>
            <a class="link-pic thumbnail-link" href="motorsport">
                <img class="link-pic__img" src="images/small/motorsport.jpg" alt="motorsport digital archives - picture of a flash CDROM for searching, browsing and viewing electronic copies of MotorSport magazine"/>
                <span class="link-pic__text thumbnail-link__text colourchange">motorsport</span>
            </a>
        </li>
        <li>
            <a class="link-pic thumbnail-link" href="robothespian">
                <img class="link-pic__img" src="images/small/robothespian-live.jpg" alt="engineered arts robothespian - picture of a flash kiosk application used to control animatronic robots"/>
                <span class="link-pic__text thumbnail-link__text colourchange">robothespian</span>
            </a>
        </li>
    </ul>
</div>
<div class="grid_4 menu_box">
    {% include colour_links.html %}

    {% include menu.html %}
</div>
<article class="grid_12">
    <h1 class="article__header colourchange clearfix text-left">{{ page.title }}</h1>
    {{ content }}
</article>
