---
layout: default
---

<div class="grid_8 slideshow" style="height: 465px;">
    <ul class="innerfade" style="position: relative; width: 620px;">
        {% for slide in page.slides %}
        <li><img src="{{slide.image}}" alt="{{slide.alt | default: page.title }}" width="620" height="{{slide.height | default: page.default_image_height }}" /></li>
        {% endfor %}
    </ul>
</div>
<div class="grid_4 menu_box">
    {% include colour_links.html %}

    {% include menu.html %}
</div>
<article class="grid_12">
    <h1 class="article__header colourchange clearfix text-left">{{ page.title }}</h1>
    {{ content }}
</article>
